<div class="layout">

    <!-- Header móvil -->
    <div class="mobile-header">

      <button class="menu-btn"
              (click)="toggleSidebar()">

        <i class='bx bx-menu'></i>

      </button>

      <div class="mobile-right">

        <button
            class="notification-btn"
            (click)="abrirNotificaciones()">

            <i class='bx bx-bell'></i>

            <span
                *ngIf="cantidadNoLeidas > 0"
                class="badge">

                {{ cantidadNoLeidas }}

            </span>

        </button>

      </div>

    </div>

    <!-- overlay -->
    <div
        class="overlay"
        *ngIf="sidebarOpen"
        (click)="closeSidebar()">
    </div>

    <!-- sidebar -->
    <app-sidebar
        class="sidebar"
        [class.open]="sidebarOpen">
    </app-sidebar>

    <!-- contenido -->
    <div class="content">

        <router-outlet></router-outlet>

    </div>

</div>
