<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>SVUA</title>
</head>
<body>
    <div class="layout">

      <!-- ☰ botón móvil -->
      <button class="menu-btn" (click)="toggleSidebar()">
        ☰
      </button>

      <!-- overlay oscuro -->
      <div 
        class="overlay" 
        *ngIf="sidebarOpen" 
        (click)="closeSidebar()">
      </div>

      <!-- sidebar -->
      <app-sidebar 
        class="sidebar"
        [class.open]="sidebarOpen">
      </app-sidebar>

      <!-- contenido -->
      <div class="content">
        <router-outlet></router-outlet>
      </div>

    </div>
</body>
</html>
