<div class="calendar-wrapper">
  <!-- 🔹 Header -->
  <div class="header">
    <div>
      <h1>Calendario</h1>
      <p>Gestión de orden de mantención y programación</p>
    </div>
  </div>
  <!-- 🟡 LEYENDA (AQUÍ VA) -->
  <div class="legend">
    <div class="item"><span class="dot pendiente"></span> PENDIENTE</div>
    <div class="item"><span class="dot programada"></span> PROGRAMADA</div>
    <div class="item"><span class="dot ejecucion"></span> EN EJECUCIÓN</div>
    <div class="item"><span class="dot completada"></span> COMPLETADA</div>
    <div class="item"><span class="dot cancelada"></span> CANCELADA</div>
  </div>
  
  <!-- 🔹 Calendario -->
  <div class="calendar-container">
    <full-calendar
      #calendar
      [options]="calendarOptions"
      (touchend)="onCalendarTouchEnd()"
    ></full-calendar>

    <!-- 👇 AQUÍ VA EL BOTÓN -->
    <button
      class="fab-create"
      *ngIf="isMobile() && !mostrarModal"
      (click)="openCreateFromFab()"
    >
      +
    </button>
  </div>
  <!-- 🔹 Modal -->
<div *ngIf="mostrarModal" class="modal-backdrop">
  <div class="modal modal-lg">

    <!-- HEADER -->
    <div class="modal-header">
      <h2>{{ titulo }}</h2>
      <button class="close-btn" (click)="cerrar()">✕</button>
    </div>

    <div class="info-box-container">

      <!-- COSTO -->
      <div *ngIf="estadoOrden === 'COMPLETADA'"
          class="costo-total">

        💰 Costo Total:
        $ {{ costoTotal | number:'1.0-0':'es-CL' }}

      </div>

      <!-- RIESGO -->
      <div *ngIf="modoEdicion && riesgo !== undefined"
          class="riesgo-box"
          [ngClass]="nivel">

        ⚠ Riesgo: {{ riesgo }}% ({{ nivel }})

      </div>

    </div>

    <form [formGroup]="ordenMantencionForm" class="form-grid">

      <!-- ===================== -->
      <!-- IZQUIERDA -->
      <!-- ===================== -->
      <div class="col">

        <h3>Información</h3>

        <div class="form-group">
          <label>Título</label>
          <input type="text" formControlName="titulo" />
        </div>

        <div class="form-group">
          <label>Tipo</label>
          <select formControlName="tipoMantenimiento">
            <option value="null">Seleccione Tipo Mantención</option>
            <option value="PREVENTIVO">PREVENTIVO</option>
            <option value="CORRECTIVO">CORRECTIVO</option>
            <option value="PREDICTIVO">PREDICTIVO</option>
          </select>
        </div>

        <div class="form-group full">
          <label>Descripción</label>
          <textarea formControlName="observaciones"></textarea>
        </div>

        <h3>Planificación</h3>

        <div class="form-group full">
          <label>Activo</label>
          <mat-form-field appearance="outline" class="full-width">
            <input matInput
                   [matAutocomplete]="auto"
                   [formControl]="activoControl"
                   placeholder="Seleccione activo">

            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayActivo">
              <mat-option *ngFor="let activo of activosFiltrados" [value]="activo">
                {{ activo.nombre }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="form-group">
          <label>Fecha</label>
          <input type="datetime-local" formControlName="fechaHora" />
        </div>

        <div class="form-group">
          <label>Duración (min)</label>
          <input
            type="text"
            formControlName="duracionMinutos"
            (input)="formatearMiles($event, 'duracionMinutos')"
          />
        </div>

      </div>

      <!-- ===================== -->
      <!-- DERECHA -->
      <!-- ===================== -->
      <div class="col">

        <h3>Proveedor</h3>

        <div class="form-group">
          <label>Proveedor</label>
          <select formControlName="proveedorId">
            <option value="null">Seleccione Proveedor</option>
            <option *ngFor="let p of proveedores" [ngValue]="p.id">
              {{ p.nombre }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>Valor hora</label>

          <input
            type="text"
            formControlName="valorHora"
            (input)="formatearMiles($event, 'valorHora')"
          />
        </div>


        <div class="form-group">
          <label>Horas estimadas</label>
          <input type="number" 
            formControlName="horasEstimadas" 
            readonly />
        </div>

        <div class="form-group">
          <label>Costo mano de obra estimada</label>
          <input
            type="text"
            formControlName="costoManoObraEstimada"
            readonly          />

        </div>

        <div *ngIf="['COMPLETADA'].includes(estadoOrden)" class="form-group">
          <label>Horas</label>
          <input
            type="text"
            [value]="formatearMilesBlock(
              ordenMantencionForm.get('horas')?.value)"
            readonly
          />
        </div>

        <div *ngIf="['COMPLETADA'].includes(estadoOrden)" class="form-group">
          <label>Costo mano de obra</label>
          <input
            type="text"
            [value]="formatearMilesBlock(
              ordenMantencionForm.get('costoManoObra')?.value)"
            readonly
          />
        </div>

        <h3 *ngIf="!['COMPLETADA','CANCELADA','EN_EJECUCION'].includes(estadoOrden)">Repuestos o Fungibles</h3>

        <button type="button"
                class="btn primary full"
                *ngIf="!['COMPLETADA','CANCELADA','EN_EJECUCION'].includes(estadoOrden)"
                (click)="abrirModalRepuesto()">
          + Agregar repuesto o fungible
        </button>

      </div>

      <!-- ===================== -->
      <!-- ACCIONES (FULL WIDTH) -->
      <!-- ===================== -->
      <div class="acciones full">

        <button type="button" class="btn ghost" (click)="cerrar()">
          Cancelar
        </button>

        <button *ngIf="!['COMPLETADA','CANCELADA'].includes(estadoOrden)
                  && modoEdicion
                  && estadoOrden !== 'EN_EJECUCION'"
                type="button"
                class="btn danger"
                (click)="cancelarOrden()">
          Cancelar Orden
        </button>

        <button *ngIf="!['COMPLETADA','CANCELADA'].includes(estadoOrden)
                && modoEdicion"
                type="button"
                class="btn"
                [ngClass]="estadoOrden === 'EN_EJECUCION' ? 'danger' : 'success'"
                (click)="toggleMantencion()">
          {{ estadoOrden === 'EN_EJECUCION'
              ? '⏹ Terminar'
              : '▶ Iniciar' }}
        </button>

        <button *ngIf="!['COMPLETADA','CANCELADA','EN_EJECUCION'].includes(estadoOrden)"
          type="button"
          class="btn primary"
          (click)="guardar()">
          {{ modoEdicion ? 'Actualizar' : 'Guardar' }}
        </button>

      </div>

    </form>
  </div>
</div>
  <!-- 🔹 Modal Repuestos -->
  <div *ngIf="mostrarModalRepuesto" class="mini-modal-backdrop">
    <div class="mini-modal grande">

      <!-- HEADER -->
      <div class="mini-modal-header">
        <h3>Gestión de Repuestos y Fungibles</h3>
        <button
          type="button"
          class="close-btn"
          (click)="cerrarModalRepuesto()">
          ✕
        </button>
      </div>

      <!-- AGREGAR -->
      <form [formGroup]="repuestoForm" class="form-repuesto">

        <!-- REPUESTO -->
        <div class="form-group">
          <label>Repuesto o Fungible</label>
          <select formControlName="repuestoId">
            <option [ngValue]="null">              Seleccione
            </option>
            <option *ngFor="let r of repuestos" [value]="r.id">
              {{ r.nombre }}
            </option>
          </select>
        </div>

        <!-- CANTIDAD -->
        <div class="form-group">
          <label>Cantidad</label>
          <input
            type="number"
            formControlName="cantidad"
            min="1" />
        </div>

        <!-- BTN -->
        <div class="acciones">
          <button
            type="button"
            class="btn primary"
            (click)="confirmarAgregarRepuesto()">
            + Agregar
          </button>
        </div>
      </form>

      <!-- TABLA -->
      <div class="tabla-repuestos">
        <div *ngIf="repuestosFormArray.controls.length === 0" class="sin-datos">
          No hay repuestos agregados
        </div>
        <div *ngFor="let item of repuestosFormArray.controls; let i = index" [formGroup]="getRepuestoGroup(i)" class="fila-repuesto">

          <!-- NOMBRE -->
          <div>
            {{
              obtenerNombreRepuesto(
                item.value.repuestoId
              )
            }}
          </div>

          <!-- CANTIDAD -->
          <div>
            x{{ item.value.cantidad }}
          </div>

          <!-- ELIMINAR -->
          <button
            type="button"
            class="btn danger"
            (click)="eliminarRepuesto(i)">
            Eliminar
          </button>
        </div>
      </div>

      <!-- FOOTER -->
      <div class="acciones footer">        <button
          type="button"
          class="btn ghost"
          (click)="cerrarModalRepuesto()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
