<div class="auth-container">

  <div class="auth-card">

    <div class="brand">
      <div class="logo">SVUA</div>
      <h2>Restablecer contraseña</h2>
      <p>Ingresa tu nueva contraseña</p>
    </div>

    <!-- PASSWORD -->
    <div class="input-group password-group">
      <input 
        [type]="showPassword ? 'text' : 'password'"
        required
        [(ngModel)]="password"
        name="password"
      >
      <label>Nueva contraseña</label>

      <span class="eye" (click)="togglePassword()">
        {{ showPassword ? '🙈' : '👁' }}
      </span>
    </div>

    <!-- CONFIRM PASSWORD -->
    <div class="input-group">
      <input 
        [type]="showPassword ? 'text' : 'password'"
        required
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
      >
      <label>Confirmar contraseña</label>

      <span class="eye" (click)="togglePassword()">
        {{ showPassword ? '🙈' : '👁' }}
      </span>
    </div>

    <!-- MENSAJES -->
    <div class="toast success" *ngIf="successMessage">
      ✔ {{ successMessage }}
    </div>

    <div class="toast error" *ngIf="errorMessage">
      ✖ {{ errorMessage }}
    </div>

    <button (click)="resetPassword()" [disabled]="loading">
      <span *ngIf="!loading">Guardar contraseña</span>
      <ng-container *ngIf="loading">
        <span class="spinner"></span>
        <span>Guardando...</span>
      </ng-container>
    </button>

    <div class="extra">
      <span (click)="goBack()">Volver al login</span>
    </div>

  </div>

</div>