<div class="auth-container">

  <div class="auth-card">

    <div class="brand">
      <div class="logo">S</div>
      <h2>Recuperar contraseña</h2>
      <p>Te enviaremos un enlace seguro a tu correo</p>
    </div>

    <div class="input-group">
      <input 
        type="email"
        required
        email
        name="email"
        [(ngModel)]="email"
        #emailCtrl="ngModel"
      >
      <label>Correo electrónico</label>

      <!-- 👇 ERRORES -->
      <div class="error" *ngIf="emailCtrl.invalid && emailCtrl.touched">
        <span *ngIf="emailCtrl.errors?.['required']">
          El correo es obligatorio
        </span>
        <span *ngIf="emailCtrl.errors?.['email']">
          Formato de correo inválido
        </span>
      </div>
    </div>

    <!-- mensaje éxito -->
    <div class="success" *ngIf="message">
      {{ message }}
    </div>

    <!-- ERROR GLOBAL (backend) -->
    <div class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <button type="submit" (click)="sendRecovery()" [disabled]="loading">
      <span *ngIf="!loading">Enviar enlace</span>
      <span *ngIf="loading" class="spinner"></span>
    </button>

    <div class="toast success" *ngIf="message">
      <span class="icon">✔</span>
      <div>
        <strong>Correo enviado</strong>
        <p>{{ message }}</p>
      </div>
    </div>

    <div class="toast error" *ngIf="errorMessage">
      <span class="icon">✖</span>
      <div>
        <strong>Error</strong>
        <p>{{ errorMessage }}</p>
      </div>
    </div>

    <div class="extra">
      <span (click)="goBack()">Volver al login</span>
    </div>

  </div>

</div>